:root {
    --primary: #0CA789;
    --secondary: #045dbdf5;
    --pale-aqua: #f4f8f7;
    --green-sea: #04c74c;
    --light-gray: #b6b6b6;
    --dark: #212121;
    --dark2: #2e2e2e;
    --dark3: #353535;
    --primary-font: 'Rubik', sans-serif;
    /* color-scheme: light dark; */
}

html {
    font-size: 62.5%; /** 1rem = 10px **/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 17px;
    font-family: var(--primary-font);
    background-color: var(--dark);
    color: var(--pale-aqua);
}

a {
    color: var(--pale-aqua);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: var(--dark2);
    padding: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    font-size: 3.5rem;
    font-weight: 700;
}

.navbar-nav {
    display: flex;
    gap: 3.5rem;
}

.navbar-nav a {
    font-size: 1.8rem;
}

.main {
    margin-top: 8rem;
    background-color: var(--dark2);
    padding: 3rem;
}

.task {
    background-color: var(--dark3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 3rem;
}

.task-details .task-title, .task-details .task-description {
    margin: 1.5rem 0;
}

.task-details .task-title {
    font-size: 2.5rem;
    color: var(--green-sea);
}

.task-details .task-title-completed {
    color: #08a742;
    font-style: italic;
}

.task-details .task-description {
    color: var(--light-gray);
}

.task-details .task-description-completed {
    font-style: italic;
}

.task-options {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.task-options .task-status {
    background-color: #E4AC04;
    padding: .6rem 1rem;
    border-radius: 6px;
}

.task-options .task-status-completed {
    background-color: #23973E;
}
